..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.gcda
*.gcno
*.gz
*.log
*.Rcheck
biodbHmdb_*.tar.gz
biodbHmdb_*.tgz
biodbHmdb.Rcheck
cache
check.Renviron
doc
man
Meta
src-i386
src-x64
src/*.o
src/*.rds
src/*.so
tests/testthat/output
vignettes/*.html
vignettes/*.md
vignettes/*.R
