..Rcheck
.*.swp
.DS_Store
.RData
.Rhistory
.swp
*.gcda
*.gcno
*.gz
*.log
*.Rcheck
/doc/
/Meta/
biodbHmdb_*.tar.gz
biodbHmdb_*.tgz
biodbHmdb.Rcheck
cache
cache*
check.Renviron
doc
longtests/*/output
Meta
Renviron.bioc
src-i386
src-x64
src/*.o
src/*.rds
src/*.so
tests/*/output
tests/testthat/output
vignettes/*.html
vignettes/*.md
vignettes/*.R
